/*分页控件*/
.pager{float: right; clear: both; margin-top: 5px;}
.pager li{line-height: 18px; display: block; float: left; padding: 0px 5px; margin: 0px 3px; font-size: 12px; border: 1px solid #cccccc;}
.pager li:hover{color: #ff9900; border: 1px solid #ff9900;}
.pager li:hover a{color: #ff9900;}
.pager li a{color: #464646;}
.pager li span{color: #cfcfcf;}
.pager li.currentPage{border: 1px solid #ff9900; background-color: #ff9900;}
.pager li.currentPage span{font-weight: bold; color: #ffffff;}
.pager li.pageInfo{color: #464646; border: none; background: none;}
.pager li.pageTo{height:20px; color: #464646; border: none; background: none;}
.pager li.pageTo input{line-height: 20px;}
.pager li.pageTo input.pageToNum{width: 10px; height: 18px; margin-top: 0px; border: 1px solid #cccccc; display:table-cell; vertical-align:top;}
.pager li.pageTo input.formButton {width: 40px; background: #F3F3F3;  height: 20px;}
.pager li.pageTo input.formButton:hover {background: #ff9900; color: #ffffff;}